# SERVER A
server1/logs
server1/*.log
server1/npm-debug.log*
server1/yarn-debug.log*
server1/yarn-error.log*
server1/lerna-debug.log*
server1/coverage
server1/*.lcov
server1/.nyc_output
server1/out
server1/node_modules/
server1/.npm
server1/env
server1/deploy_key
server1/.cache
server1/package-lock.json

mongodb1/data

# SERVER B
server2/logs
server2/*.log
server2/npm-debug.log*
server2/yarn-debug.log*
server2/yarn-error.log*
server2/lerna-debug.log*
server2/coverage
server2/*.lcov
server2/.nyc_output
server2/out
server2/node_modules/
server2/.npm
server2/env
server2/deploy_key
server2/.cache
server2/package-lock.json

mongodb2/data
